.item {
  display: flex;
  width: 300px;
  padding: 10px 10px;
  background-color: #fff;
  align-items: center;
  box-shadow: 5px 4px 5px -3px rgba(0, 0, 0, 0.75);
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.status {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;

  border-radius: 50%;
}

.avatar {
  margin-right: 10px;
}

.name {
  font-weight: 700;
}
