.bodyCell {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  background-color: white;
  color: darkgrey;
  text-align: center;
}

.bodyCell:nth-child(odd) {
  background-color: aquamarine;
}

.firstCell {
  padding-left: 20px;
  text-align: initial;
}
